@import com.example.auction.utils.PaginatedSequence
@import play.mvc.Call

@(pagination: PaginatedSequence[_])(route: (Int, Int) => Call)(implicit messages: Messages)

@paginationItem(href: => Call, label: String, isLinked: Boolean, disabledClass: String, otherClasses: String = "") = {
@defining(otherClasses + (if(!isLinked) " " + disabledClass else "")) { liClasses =>
    <li class="@liClasses">
    @if(isLinked) {
        <a href="@href" aria-label="@label">@label</a>
    } else {
        @label
    }
    </li>
}
}

@page(page: Int) = @{
    route(page, pagination.pageSize)
}
@prevPage() = @{
    page(pagination.page - 1)
}
@nextPage() = @{
    page(pagination.page + 1)
}

@if(pagination.isPaged) {
    <nav>
        <ul class="pagination" aria-label="Pagination">
            @paginationItem(
                prevPage(),
                Messages("pagination.prev"),
                isLinked = !pagination.isFirst,
                disabledClass = "disabled",
                otherClasses = "pagination-previous"
            )
            @for(pageNumber <- 0 until pagination.pageCount) {
                @paginationItem(
                    page(pageNumber),
                    (pageNumber + 1).toString,
                    isLinked = pageNumber != pagination.page,
                    disabledClass = "current"
                )
            }
            @paginationItem(
                nextPage(),
                Messages("pagination.next"),
                isLinked = !pagination.isLast,
                disabledClass = "disabled",
                otherClasses = "pagination-next"
            )
        </ul>
    </nav>
}
